/*---------------
  Common styles
 ----------------*/
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }
 .container{
  margin: 50px 8%;
 }


 /*---------------
  Header styles
 ----------------*/
 header{
  display: flex;
  background-color: #161616;
  border-radius: 30px;
  padding: 0 5%;
 }
 .banner-info{
  width: 50%;
  color: white;
  margin-top: 50px;
 }
 .banner-info h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
 }
 .banner-info p{
  font-size: 16px;
  line-height: 26px;
  margin: 20px 0;
 }
 .banner-img{
  width: 50%;
 }
 .banner-img img{
  width: 90%;
  margin-top: 20px;
  margin-bottom: -6px;
 }
 .btn-one{
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  background-color:  #DD0000;
  color: white;
  transition: all 1s ease-in ;
 }
 .btn-one:hover{
  width: 250px;
  background-color: #dd000085;
 }
 .btn-one i{
  margin-left: 5px;
 }

 /*---------------
  Main styles
 ----------------*/

 /* fixed-menu */
 .content{
  display: flex;
  gap: 20px;
 }

 .fixed-menu{
  width: 280px;
  height: 280px;
  background-color: #161616;
  border-radius: 8px;
 }
 .fixed-menu ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
 }
 .fixed-menu ul li{
  list-style: none;
 }
 .fixed-menu a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  color: #161616;
  padding: 20px;
  text-align: center;
  width: 240px;
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
 }
 #active,
 .fixed-menu a:hover{
  background-color: #DD0000;
  color: white;
 }

/* Transfers-sec */

 .transfers-sec{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px ;
  grid-row-gap: 20px;
 }

 .transfer{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
 }
 .img-fild img{
  width: 100%;
 }
 .text-fild{
  padding: 15px;
 }
 .text-fild h3{
  font-weight:600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin-top: 10px;
 }

 .btn-two{
  display: block;
  padding: 2px 15px;
  background-color: #fff;
  border: 1px solid rgb(71, 9, 9);
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
 }

 .info{
  display: flex;
  gap: 40px;
  margin-top: 10px;
 }
 .info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(22, 22, 22, 0.7);
 }
 .info p i{
  margin-right: 8px;
 }
 .btn{
  display: none;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  background-color:  #DD0000;
  color: white;
 }
 .btn:hover{
  background-color: #dd000085;
 }

 /* 2nd & 3rd page styles */
 .flag{
  display: flex;
  gap: 5px;
  padding: 10px;
 }
 .flag img {
   width: 40%;
 }
 .flag h3{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 /*---------------
  Footer styles
 ----------------*/
 footer{
  background-color: #161616;
  padding: 5%;
  margin-top: 100px;
 }
 footer h2{
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 50px;
 }
 hr{
  border: 1px solid rgba(255, 255, 255, 0.1);
 }

 footer ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 10%;
 }
 footer li{
  list-style: none;
 }
 footer a{
  text-decoration: none;
  color: #B9B9B9;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
 }
 footer a:hover{
  color: #DD0000;
 }
 .menu-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 30%;
 }
 .menu-icon a{
  font-size: 25px;
 }

 
